.movingElement {
  animation: moveUp var(--animation-duration, 1s) linear infinite;
}
.movingFinish {
  animation: moveUpFinish 1s linear;
}

@keyframes moveUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes moveUpFinish {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 100;
  }
}
